<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label for="">Payee Name</label>
      <input class="form-control" type="text" [(ngModel)]="nameChange" />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>{{ nameChange | titlecase }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payment Date</label>
      <input type="date" class="form-control" [(ngModel)]="date" />
    </div>
    <div class="col">
      <label><b>Payment Date</b></label>
      <div>{{ date | date : "MMMM d, y" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Payement Account</label>
      <input type="number" class="form-control" [(ngModel)]="amount" />
    </div>
    <div class="col">
      <label><b>Payment ammount</b></label>
      <div>{{ amount | currency : "SAR" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Hight</label>
      <input type="number" class="form-control" [(ngModel)]="hight" />
    </div>
    <div class="col">
      <label><b>Hight</b></label>
      <div>{{ hight | number : "1.1-2" }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Miles</label>
      <input type="number" class="form-control" [(ngModel)]="miles" />
    </div>
    <div class="col">
      <label><b>Kilometers</b></label>
      <div>{{ miles | convert: 'cm' | number: "1.0-2" }}</div>
    </div>
  </div>
</div>

{{ car | json }}
